{% extends "shop/base.html" %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block navbar %}
                <form class="search_bar" method="POST" action="{% url 'shop:search-products' %}">
                    {% csrf_token %}
                    <input type="search" placeholder="Pretraži" aria-label="Pretraži" name="searched">
                    <button class="btn btn-outline-secondary" type="submit">Pretraži</button>
                </form>
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Kategorije</h3>
        <ul>
            <li {% if not category %} class="selected" {% endif %}>
            <a href="{% url "shop:product_list" %}">Sve</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}"> {{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Proizvodi{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a class="product-name" href="{{ product.get_absolute_url }}"><br>{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
        <div id="pagination">
            {% if p.has_previous %}
                <a href="?page={{ p.previous_page_number }}">&laquo Prethodna</a>
            {% endif %}
                Strana {{ p.number }} of {{ p.paginator.num_pages }}. 
            {% if p.has_next %}
                <a href="?page={{ p.next_page_number }}">Sledeća &raquo</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
